.popover {
  min-width: 24%;
}

.popover .arrow {
  display: none;
}

.popover-title {
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

.input-label {
  font-size: 14px;
  line-height: 21px;
}
